/*
////////////////////////////////
///// C3.JS CUSTOMIZATIONS /////
////////////////////////////////
*/

.c3 path, .c3 line {
  stroke: #666;
}

.c3 text {
  fill: #999;
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 12px;
}

.c3 tspan, .c3 .c3-axis-y-label {
  text-transform: uppercase;
}

.c3 .c3-axis-x tspan {
  baseline-shift: -6px;
}

.c3 .c3-axis-y tspan {
  
}

.c3 .c3-legend-item {
  transform: translate(0,-50px);
}

/* tooltip stuff */

.c3-tooltip-container table {
  background-color: rgba(0, 0, 0, 0);
}

.c3-tooltip {
  -webkit-box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0);
  -moz-box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0);
  box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0);
  opacity: .9;
}

.c3-tooltip tr {
  border: 0px;
}

.c3-tooltip th {
  padding-top: 8px;
  padding-bottom: 8px;
  text-align: center;
  border-bottom: 1px solid #000;
  background-color: rgba(0, 0, 0, .95);
  text-transform: uppercase;
  color: #888;
}

.c3-tooltip tr td {
  background-color: rgba(0, 0, 0, .75);
  color: #FFF;
  border: 0;
  padding-left: 18px;
  padding-right: 18px;
  padding-bottom: 0px;
  padding-top: 10px;
}

.c3-tooltip tr:last-child td {
  padding-bottom: 14px;
}